<div class="container">    
    <div class="body">
   <h2 class="text-center">Add Book</h2>
   <form [formGroup]="addbook" novalidate >
      <div class="form-group">
        <label for="title">Title of the Book</label>
          <input
          formControlName="title"
              id="title" 
              type="text"
              placeholder="Title"
              class="form-control">
              <div *ngIf="title && title.touched && title.invalid" class="text-danger">
                  <div *ngIf="title.errors?.required" class="msg">Please enter the Title of the book</div>
              </div>
      </div>
      <div class="form-group">
        <label for="pagecount">Page Count</label>
          <input
          formControlName="pagecount"
              id="pagecount" 
              type="text"
              placeholder="Page Count"
              class="form-control">
              <div *ngIf="pagecount && pagecount.touched && pagecount.invalid" class="text-danger">
                  <div *ngIf="pagecount.errors?.required" class="msg">Please enter the page count</div>
                   
              </div>
      </div>
      <div class="form-group">
        <label for="publishdate">Published Date</label>
        <input
        formControlName="publishdate"
            id="publishdate" 
            type="date"
            placeholder="Publish Date"
            class="form-control">
            <div *ngIf="publishdate && publishdate.touched && publishdate.invalid" class="text-danger">
                <div *ngIf="publishdate.errors?.required" class="msg">Please select the published date</div>
                 
            </div>
    </div>
    
    <div class="form-group">
        <label for="thumbnailUrl">Thumbnail Url</label>
        <input
        formControlName="thumbnailUrl"
            id="thumbnailUrl" 
            type="text"
            placeholder="thumbnail Url"
            class="form-control">
            <div *ngIf="thumbnailUrl && thumbnailUrl.touched && thumbnailUrl.invalid" class="text-danger">
                <div *ngIf="thumbnailUrl.errors?.required" class="msg">Please select the Url</div>
                 
            </div>
    </div>
    <div class="form-group">
        <label for="shortdescrption">Short Description</label>
        <textarea
        formControlName="shortdescrption"
            id="shortdescrption" 
            placeholder="Short Description"
            class="form-control"></textarea>
            <div *ngIf="shortdescrption && shortdescrption.touched && shortdescrption.invalid" class="text-danger">
                <div *ngIf="shortdescrption.errors?.required" class="msg">Please enter a short Description</div>
                 
            </div>
    </div>

    <div class="form-group">
        <label for="longdescrption">Long Description</label>
        <textarea
        formControlName="longdescrption"
            id="longdescrption" 
            placeholder="Long Description"
            class="form-control"></textarea>
            <div *ngIf="longdescrption && longdescrption.touched && longdescrption.invalid" class="text-danger">
                <div *ngIf="longdescrption.errors?.required" class="msg">Please enter a long Description</div>
                 
            </div>
    </div>
    
 


    <div class="form-group">
        <label for="author">Author</label>
        <input
        formControlName="author"
            id="author" 
            placeholder="author name"
            class="form-control"> 
            <div *ngIf="author && author.touched && author.invalid" class="text-danger">
                <div *ngIf="author.errors?.required" class="msg">Please enter a author name</div>
                 
            </div>
    </div>

    
    <div class="form-group">
        <label for="categories">Category</label>
        <input
        formControlName="categories"
            id="categories" 
            placeholder="enter the Categories"
            class="form-control"> 
            <div *ngIf="categories && categories.touched && categories.invalid" class="text-danger">
                <div *ngIf="categories.errors?.required" class="msg">Please enter the category</div>
                 
            </div>
    </div>

       
    <div class="form-group">
        <label for="price">Price</label>
        <input
        formControlName="price"
            id="price" 
            placeholder=" Price"
            class="form-control"> 
            <div *ngIf="price && price.touched && price.invalid" class="text-danger">
                <div *ngIf="price.errors?.required" class="msg">Please enter the price</div>
                 
            </div>
    </div>
    <div class="form-group">
        <label for="currency">Currency</label>
        <input
        formControlName="currency"
            id="currency" 
            placeholder="Currency"
            class="form-control"> 
            <div *ngIf="currency && currency.touched && currency.invalid" class="text-danger">
                <div *ngIf="currency.errors?.required" class="msg">Please enter a currency</div>
                 
            </div>
    </div>
    <div class="form-group">
        <label for="discount">Discount</label>
        <input
        formControlName="discount"
            id="discount" 
            placeholder="Discount"
            class="form-control"> 
            <div *ngIf="discount && discount.touched && discount.invalid" class="text-danger">
                <div *ngIf="discount.errors?.required" class="msg">Please enter Discount</div>
                 
            </div>
    </div>
      
    <button type="button" class="btn btn-primary" [disabled]="addbook.pristine || addbook.invalid" (click)="datacapture()">Add Product</button>

     
      </form>
</div>
</div>


