<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/pics/logo.png "/></a>
    <button class="navbar-toggler" type="button" (click)="togglenav()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isopen" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link"routerLink="/" routerLinkActive="Active">Home <span class="sr-only">(current)</span></a>
        </li>
        
          <div *ngIf="!adminIsAuthenticated">
        <li class="nav-item"  *ngIf="userIsAuthenticated" >
          <a class="nav-link" routerLink="/account" routerLinkActive="Active">Account</a>
        </li>
        <li class="nav-item"  *ngIf="userIsAuthenticated" >
          <a class="nav-link" routerLink="/cart" routerLinkActive="Active">Cart</a>
        </li>
        <li class="nav-item"  *ngIf="userIsAuthenticated" >
          <a class="nav-link" routerLink="/orders" routerLinkActive="Active">Orders</a>
        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated" >
          <a class="nav-link" routerLink="/products" routerLinkActive="Active">Products</a>
        </li>
       </div>
        <li class="nav-item" *ngIf="!userIsAuthenticated">
          <a class="nav-link"routerLink="/login" routerLinkActive="Active">Login</a>
        </li>
      
        <li class="nav-item"  *ngIf="adminIsAuthenticated">
          <a class="nav-link"routerLink="/admin" routerLinkActive="Active">AdminProducts</a>
        </li>
        <li class="nav-item" *ngIf="adminIsAuthenticated" >
          <a class="nav-link"routerLink="/adminorders" routerLinkActive="Active">AdminOrders</a>
        </li>
       
        
        <li class="nav-item"  *ngIf="userIsAuthenticated">
          <button type="button" (click)="onLogout()">LogOut</button>
        </li>
      </ul>
    </div>
  </nav>
   
  </nav>